$main-color: #20b2aa;

* {
  padding: 0;
  margin: 0;

  font-family: 'roboto', sans-serif;}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;

  &:hover {
    opacity: 0.8;
    background-color: green;
  }
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}
section {
  width: 100%;
  padding: 20px 0;

  &:nth-child(2n) {
    background: {
      color: $main-color;
    }
  }
}



// modal
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// .content{
//   margin: 0 auto;
//   padding: 40px;
// }
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  height: 70%;
}