header {
  width: 100%;
}

nav {
  background-color: $main-color;
  ul {
    display: flex;
    justify-content: space-between;
  
    li {
      width: calc(100% / 3);
      text-align: center;
      border-left: 1px solid #fff;

      &:last-child {
        border-right: 1px solid #fff;
      }
      a {
        display: block;
        padding: 20px 0;
      }
    }
  }
}


.secTtl {
  margin-bottom: 30px;

  &:before {
    content: "";
    border-left: 8px solid blue;
    margin-right: 10px;
  }
}

.twoCol {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
    margin-bottom: 20px;
  }
}

#skill h3 {
  display: flex;
  align-items: center;

  // &::before {
  //   content: "";
  //   margin-right: 40px;
  //   width: 40px;
  //   height: 40px;
  //   background: {
  //     image: url(../img/git.png);
  //     size: cover;
  //   }
  // }
}
#skill h3 img {
  width: 40px;
  height: auto;
  margin-right: 20px;
}

footer {
  position: relative;
  background-color: $main-color;
  width: 100%;

  .copyRight {
    text-align: center;
  }
}
#top {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 0;

  a {
    position: relative;
    display: block;
    background-color: blue;
    width: 50px;
    height: 50px;

    &::after {
      position: absolute;
      right: 0;
      content: "";
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;
      transform: rotate(45reg);

      width: 50px;
      height: 50px;
    }
  }
}